<div id="featured-items-custom">
    {%- for block in section.blocks limit: section.settings.items_to_show -%}
    <article class="featured-item">
        <div class="inner-container">
            <h2>{{ block.settings.item_title}}</h2>
            <a href="{{ block.settings.link_url }}">{{ block.settings.link_label }}</a>
        </div>
        {% case block.settings.item_icon %}
            {% when "cybersecurity" %}
                {% render "icon-cybersecurity" %}
            {% when "quality" %}
                {% render "icon-quality" %}
            {% when "delivery" %}
                {% render "icon-delivery" %}
        {% endcase %}
    </article>
    {%- endfor -%}
</div>


{% schema %}
{
    "name": "Featured items",
    "tag": "section",
    "class": "section",
    "max_blocks": 3,
    "settings": [
        {
            "type": "range",
            "id": "items_to_show",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 3,
            "label": "Items to show"
        }
    ],
    "blocks": [
        {
            "type": "link_details",
            "name": "Item",
            "settings": [
                {
                    "type": "text",
                    "id": "item_title",
                    "default": "Item",
                    "label": "Item title"
                },
                {
                    "type": "text",
                    "id": "link_label",
                    "default": "Link",
                    "label": "Link label"
                },
                {
                    "type": "url",
                    "id": "link_url",
                    "label": "Link URL"
                },
                {
                    "type": "select",
                    "id": "item_icon",
                    "label": "Select icon",
                    "options": [
                        {
                            "value": "cybersecurity",
                            "label": "Cybersecurity"
                        },
                        {
                            "value": "quality",
                            "label": "Quality"
                        },
                        {
                            "value": "delivery",
                            "label": "Delivery"
                        }
                    ]
                }
            ]
        }
    ], 
    "presets": [
        {
            "name": "Featured items",
            "blocks": [
                {
                    "type": "link_details"
                }
            ]
        }
    ]
}
{% endschema %}